################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGLGen/OpenGLGen/obj
/OpenGLGen/.vs/OpenGLGen/v16
/OpenGLGen/OpenGLGen/bin/Debug/netcoreapp3.0
/OpenGLGen/.vs/OpenGLGen/DesignTimeBuild
/.vs/OpenGL.NET/v16/.suo
/.vs
/OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Release/netstandard2.0
OpenGLGen/WaveEngine.Bindings.OpenGL/bin/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.deps.json
OpenGLGen/WaveEngine.Bindings.OpenGL/bin/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.dll
OpenGLGen/WaveEngine.Bindings.OpenGL/bin/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.pdb
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.AssemblyInfo.cs
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.AssemblyInfoInputs.cache
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.assets.cache
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.csproj.CoreCompileInputs.cache
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.csproj.FileListAbsolute.txt
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.csprojAssemblyReference.cache
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.dll
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/Debug/netstandard2.0/WaveEngine.Bindings.OpenGL.pdb
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/project.assets.json
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/WaveEngine.Bindings.OpenGL.csproj.nuget.cache
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/WaveEngine.Bindings.OpenGL.csproj.nuget.dgspec.json
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/WaveEngine.Bindings.OpenGL.csproj.nuget.g.props
OpenGLGen/WaveEngine.Bindings.OpenGL/obj/WaveEngine.Bindings.OpenGL.csproj.nuget.g.targets
/OpenGLGen/OpenGLTest/bin/Debug
/OpenGLGen/OpenGLTest/obj/Debug
/OpenGLGen/WaveEngine.Bindings.OpenGLES/bin/Debug/netstandard2.0
/OpenGLGen/WaveEngine.Bindings.OpenGLES/obj
/OpenGLGen/OpenGLGen/bin/Debug/netcoreapp2.2
/OpenGLGen/OpenGLTest/obj/Release
/OpenGLGen/WaveEngine.Bindings.OpenGL/bin/Release/netstandard2.0
/OpenGLGen/WindowsForm/bin/Debug
/OpenGLGen/WindowsForm/obj
/OpenGLGen/packages/SDL2-CS.dll.2.0.0.0
OpenGLGen/Evergine.Bindings.OpenGL/bin
OpenGLGen/Evergine.Bindings.OpenGL/obj
OpenGLGen/OpenGLGen/bin
OpenGLGen/WaveEngine.Bindings.OpenGL/obj
