################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGLGen/OpenGLGen/obj
/OpenGLGen/.vs/OpenGLGen/v16
/OpenGLGen/OpenGLGen/bin/Debug/netcoreapp3.0
/OpenGLGen/.vs/OpenGLGen/DesignTimeBuild
